.ContactPage .contact-page {
  display: block;
  margin: 150px 0;
}

.ContactPage .contact-page h2 {
  font-family: var(--text-headline);
  font-size: 55px;
  letter-spacing: -2px;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.ContactPage .contact-page p {
  font-family: var(--text-paragraph);
  font-size: 12px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.ContactPage .contact-page a {
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.ContactPage .contact-page a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .ContactPage .contact-page h2 {
    font-size: 45px;
  }

  .ContactPage .contact-page p {
    font-size: 11px;
  }

  .ContactPage .contact-page a {
    font-size: 11px;
  }
}
