.GalleryPage .gallery-page {
  margin: 75px 0;
}

.GalleryPage .gallery-page h2 {
  font-family: var(--text-headline);
  font-size: 55px;
  letter-spacing: -2px;
  margin-bottom: 25px;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-page .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.GalleryPage .gallery-page h3 {
  font-family: var(--text-paragraph);
  font-size: 28px;
  letter-spacing: -1.25px;
  line-height: 26px;
  text-transform: lowercase;
}

.GalleryPage .gallery-page p {
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  text-transform: uppercase;
}

.GalleryPage .gallery-page button {
  border: none;
  color: rgba(255, 207, 215, 0.5);
  padding: 115px 0;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-page button:hover {
  background-size: 105%;
  color: rgba(255, 207, 215, 1);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.GalleryPage .greenwich-market {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.4),
      rgba(201, 77, 58, 0.4)
    ),
    url(gallery/greenwich-market.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .ehla-eat {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.4),
      rgba(201, 77, 58, 0.4)
    ),
    url(gallery/ehla-eat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .ryan-london {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.4),
      rgba(201, 77, 58, 0.4)
    ),
    url(gallery/ryan-london.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .live-music {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.3),
      rgba(201, 77, 58, 0.3)
    ),
    url(gallery/music.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .greenwich-market:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.2),
      rgba(201, 77, 58, 0.2)
    ),
    url(gallery/greenwich-market.jpg);
}

.GalleryPage .ehla-eat:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.2),
      rgba(201, 77, 58, 0.2)
    ),
    url(gallery/ehla-eat.jpg);
}

.GalleryPage .ryan-london:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.2),
      rgba(201, 77, 58, 0.2)
    ),
    url(gallery/ryan-london.jpg);
}

.GalleryPage .live-music:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.1),
      rgba(201, 77, 58, 0.1)
    ),
    url(gallery/music.jpg);
}

.GalleryPage .gallery-btn-light {
  color: var(--dark-color);
}

.GalleryPage .gallery-btn-dark {
  color: var(--light-color);
}

.GalleryPage .gallery-1 .grid,
.GalleryPage .gallery-2 .grid,
.GalleryPage .gallery-3 .grid,
.GalleryPage .gallery-4 .grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  padding: 25px 50px;
}

.GalleryPage .gallery-1 .grid button,
.GalleryPage .gallery-2 .grid button,
.GalleryPage .gallery-3 .grid button,
.GalleryPage .gallery-4 .grid button {
  font-size: 40px;
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-1 .grid button:hover,
.GalleryPage .gallery-2 .grid button:hover,
.GalleryPage .gallery-3 .grid button:hover,
.GalleryPage .gallery-4 .grid button:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}

.GalleryPage .gallery-1 .transparent,
.GalleryPage .gallery-4 .transparent {
  color: rgba(255, 255, 255, 0);
}

.GalleryPage .gallery-1 a,
.GalleryPage .gallery-2 a,
.GalleryPage .gallery-3 a,
.GalleryPage .gallery-4 a {
  animation: backToTop 1500ms infinite;
  color: var(--light-color);
  font-size: 40px;
  position: fixed;
  bottom: 0;
  left: 50%;
  opacity: 0.5;
  text-decoration: none;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-1 a:hover,
.GalleryPage .gallery-2 a:hover,
.GalleryPage .gallery-3 a:hover,
.GalleryPage .gallery-4 a:hover {
  cursor: pointer;
  opacity: 1;
}

.GalleryPage .gallery-1 h3,
.GalleryPage .gallery-2 h3,
.GalleryPage .gallery-3 h3,
.GalleryPage .gallery-4 h3 {
  font-family: var(--text-paragraph);
  font-size: 30px;
  letter-spacing: -1.5px;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-1 p,
.GalleryPage .gallery-2 p,
.GalleryPage .gallery-3 p,
.GalleryPage .gallery-4 p {
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: all 300ms ease-in-out;
}

.GalleryPage .gallery-image {
  max-width: 100%;
  transition: all 300ms ease-in-out;
}

@keyframes backToTop {
  0% {
    transform: translateY(0%) translateX(-50%);
  }
  50% {
    transform: translateY(10%) translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@media (max-width: 1200px) {
  .GalleryPage .gallery-page .grid {
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .GalleryPage .gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .GalleryPage .gallery-page {
    margin: 25px 0;
  }

  .GalleryPage .gallery-1,
  .GalleryPage .gallery-2,
  .GalleryPage .gallery-3,
  .GalleryPage .gallery-4 {
    margin-top: 0;
  }

  .GalleryPage .gallery-1 h3,
  .GalleryPage .gallery-2 h3,
  .GalleryPage .gallery-3 h3,
  .GalleryPage .gallery-4 h3 {
    font-size: 28px;
    line-height: 25px;
  }

  .GalleryPage .gallery-1 p,
  .GalleryPage .gallery-2 p,
  .GalleryPage .gallery-3 p,
  .GalleryPage .gallery-4 p {
    font-size: 13px;
    line-height: 0;
  }

  .GalleryPage .gallery-page .grid {
    grid-template-columns: 1fr;
    height: 500px;
  }

  .GalleryPage .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .GalleryPage .gallery-container-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .GalleryPage .gallery-container {
    grid-template-columns: 1fr;
  }

  .GalleryPage .gallery-container-2 {
    grid-template-columns: 1fr;
  }

  .GalleryPage .gallery-page h2 {
    font-size: 45px;
  }

  .GalleryPage .gallery-page h3 {
    font-size: 23px;
    letter-spacing: -0.5px;
    line-height: 20px;
  }

  .GalleryPage .gallery-page p {
    font-size: 12px;
    letter-spacing: -0.25px;
  }

  .GalleryPage .gallery-1 h3,
  .GalleryPage .gallery-2 h3,
  .GalleryPage .gallery-3 h3,
  .GalleryPage .gallery-4 h3 {
    font-size: 23px;
    letter-spacing: -0.5px;
    line-height: 20px;
  }

  .GalleryPage .gallery-1 p,
  .GalleryPage .gallery-2 p,
  .GalleryPage .gallery-3 p,
  .GalleryPage .gallery-4 p {
    font-size: 12px;
    letter-spacing: -0.25px;
    line-height: 12px;
  }
}
