.GalleryPage {
  margin: 7.5% auto 0 auto;
}

.GalleryPage h2 {
  font-family: var(--text-headline);
  font-size: 55px;
  letter-spacing: -2px;
  margin-bottom: 25px;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.GalleryPage .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.GalleryPage h3 {
  font-family: var(--text-paragraph);
  font-size: 28px;
  letter-spacing: -1.25px;
  line-height: 26px;
  text-transform: lowercase;
}

.GalleryPage p {
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  text-transform: uppercase;
}

.GalleryPage button {
  border: none;
  color: rgba(255, 207, 215, 0.8);
  padding: 115px 0;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.GalleryPage button:hover {
  background-size: 105%;
  color: rgba(255, 207, 215, 0.2);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.GalleryPage .greenwich-market {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.7),
      rgba(201, 77, 58, 0.7)
    ),
    url(gallery/greenwich-market.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .ehla-eat {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.7),
      rgba(201, 77, 58, 0.7)
    ),
    url(gallery/ehla-eat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .ryan-london {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.7),
      rgba(201, 77, 58, 0.7)
    ),
    url(gallery/ryan-london.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .live-music {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.6),
      rgba(201, 77, 58, 0.6)
    ),
    url(gallery/music.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.GalleryPage .greenwich-market:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.2),
      rgba(201, 77, 58, 0.2)
    ),
    url(gallery/greenwich-market.jpg);
}

.GalleryPage .ehla-eat:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.2),
      rgba(201, 77, 58, 0.2)
    ),
    url(gallery/ehla-eat.jpg);
}

.GalleryPage .ryan-london:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.2),
      rgba(201, 77, 58, 0.2)
    ),
    url(gallery/ryan-london.jpg);
}

.GalleryPage .live-music:hover {
  background-image: linear-gradient(
      rgba(201, 77, 58, 0.1),
      rgba(201, 77, 58, 0.1)
    ),
    url(gallery/music.jpg);
}

.GalleryPage .gallery-btn-light {
  color: var(--dark-color);
}

.GalleryPage .gallery-btn-dark {
  color: var(--light-color);
}

.GalleryOne,
.GalleryTwo,
.GalleryThree,
.GalleryFour {
  margin-top: -9.5%;
}

.GalleryOne .grid,
.GalleryTwo .grid,
.GalleryThree .grid,
.GalleryFour .grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  padding: 0 50px;
}

.GalleryOne h3,
.GalleryTwo h3,
.GalleryThree h3,
.GalleryFour h3 {
  font-family: var(--text-paragraph);
  font-size: 30px;
  letter-spacing: -1.5px;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.GalleryOne p,
.GalleryTwo p,
.GalleryThree p,
.GalleryFour p {
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.GalleryOne .grid button,
.GalleryTwo .grid button,
.GalleryThree .grid button,
.GalleryFour .grid button {
  font-size: 40px;
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}

.GalleryOne .grid button:hover,
.GalleryTwo .grid button:hover,
.GalleryThree .grid button:hover,
.GalleryFour .grid button:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}

.GalleryOne .transparent,
.GalleryFour .transparent {
  color: rgba(255, 255, 255, 0);
}

.GalleryOne a,
.GalleryTwo a,
.GalleryThree a,
.GalleryFour a {
  animation: backToTop 1500ms infinite;
  border: 2px dotted var(--light-color);
  border-radius: 50% 50% 0 0;
  color: var(--light-color);
  font-size: 40px;
  padding: 0 12px;
  position: fixed;
  left: 50%;
  bottom: -1px;
  opacity: 0.75;
  text-decoration: underline;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
}

.GalleryOne a:hover,
.GalleryTwo a:hover,
.GalleryThree a:hover,
.GalleryFour a:hover {
  cursor: pointer;
  opacity: 1;
}

.GalleryOne .gallery-container,
.GalleryTwo .gallery-container,
.GalleryThree .gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: -75px;
  transition: all 300ms ease-in-out;
}

.GalleryFour .gallery-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -75px;
  transition: all 300ms ease-in-out;
}

.GalleryOne .gallery-image,
.GalleryTwo .gallery-image,
.GalleryThree .gallery-image,
.GalleryFour .gallery-image {
  max-width: 100%;
  transition: all 300ms ease-in-out;
}

@keyframes backToTop {
  0% {
    transform: translateY(0%) translateX(-50%);
  }
  50% {
    transform: translateY(10%) translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}

@media (max-width: 1200px) {
  .GalleryPage .grid {
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }

  .GalleryOne .grid,
  .GalleryTwo .grid,
  .GalleryThree .grid,
  .GalleryFour .grid {
    grid-template-columns: 1fr 10fr 1fr;
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .GalleryOne .gallery-container,
  .GalleryTwo .gallery-container,
  .GalleryThree .gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .GalleryPage {
    margin: 25px 0;
  }

  .GalleryPage .grid {
    grid-template-columns: 1fr;
    height: 500px;
  }

  .GalleryOne .grid,
  .GalleryTwo .grid,
  .GalleryThree .grid,
  .GalleryFour .grid {
    grid-template-columns: 1fr 10fr 1fr;
    height: 300px;
  }

  .GalleryOne h3,
  .GalleryTwo h3,
  .GalleryThree h3,
  .GalleryFour h3 {
    font-size: 28px;
    line-height: 25px;
  }

  .GalleryOne p,
  .GalleryTwo p,
  .GalleryThree p,
  .GalleryFour p {
    font-size: 13px;
    line-height: 0;
  }

  .GalleryOne .gallery-container,
  .GalleryTwo .gallery-container,
  .GalleryThree .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .GalleryFour .gallery-container-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .GalleryPage h2 {
    font-size: 45px;
  }

  .GalleryPage h3 {
    font-size: 23px;
    letter-spacing: -0.5px;
    line-height: 20px;
  }

  .GalleryPage p {
    font-size: 12px;
    letter-spacing: -0.25px;
  }

  .GalleryOne .gallery-container,
  .GalleryTwo .gallery-container,
  .GalleryThree .gallery-container {
    grid-template-columns: 1fr;
  }

  .GalleryFour .gallery-container-2 {
    grid-template-columns: 1fr;
  }

  .GalleryOne h3,
  .GalleryTwo h3,
  .GalleryThree h3,
  .GalleryFour h3 {
    font-size: 23px;
    letter-spacing: -0.5px;
    line-height: 20px;
  }

  .GalleryOne p,
  .GalleryTwo p,
  .GalleryThree p,
  .GalleryFour p {
    font-size: 12px;
    letter-spacing: -0.25px;
    line-height: 12px;
  }
}
