.MenuPage .menu-page {
  display: flex;
  justify-content: center;
  margin: 50px 250px 0 0;
}

.MenuPage .menu-page ul {
  list-style: none;
}

.MenuPage .menu-page button {
  background: var(--transparent);
  border: none;
  font-family: var(--text-headline);
  font-size: 55px;
  letter-spacing: -3px;
  margin-left: 10px;
  padding: 0;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.MenuPage .menu-page .gallery-btn {
  letter-spacing: -2px;
}

.MenuPage .menu-light-mode,
.MenuPage .menu-dark-mode {
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 900;
  letter-spacing: -1px;
  transition: all 300ms ease-in-out;
}

.MenuPage .menu-light-mode:hover,
.MenuPage .menu-dark-mode:hover {
  color: var(--transparent);
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .MenuPage .menu-page {
    justify-content: left;
    margin: 50px 0 0 40px;
  }
}

@media (max-width: 400px) {
  .MenuPage .menu-page {
    margin: 50px 0 0 20px;
  }

  .MenuPage .menu-page button {
    font-size: 45px;
    letter-spacing: -2px;
  }
}
