.MenuPage .menu-page {
  position: relative;
  top: -30px;
}

.MenuPage .menu-page ul {
  list-style: none;
  position: absolute;
}

.MenuPage .menu-page button {
  background: var(--transparent);
  border: none;
  color: var(--transparent);
  font-family: var(--text-headline);
  font-size: 60px;
  font-weight: 100;
  letter-spacing: -3px;
  margin-left: 10px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.MenuPage .menu-light-mode {
  color: var(--dark-color);
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 900;
  letter-spacing: -1px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.MenuPage .menu-dark-mode {
  color: var(--light-color);
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 900;
  letter-spacing: -1px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.MenuPage .menu-light-mode:hover,
.MenuPage .menu-dark-mode:hover {
  color: var(--transparent);
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .MenuPage .menu-page .col-3 {
    display: none;
  }

  .MenuPage .menu-page .col-8 {
    margin: 50px 30px;
  }

  .MenuPage .menu-page a {
    font-size: 45px;
    letter-spacing: -2px;
  }
}

@media (max-width: 400px) {
  .MenuPage .menu-page .col-8 {
    margin: 35px 10px;
  }
}
