.ProjectPage .project-page {
  display: flex;
  justify-content: center;
  margin: 75px 0 0 250px;
}

.ProjectPage .project-page ul {
  list-style: none;
}

.ProjectPage .project-page button {
  background: var(--transparent);
  border: none;
  font-family: var(--text-headline);
  font-size: 55px;
  letter-spacing: -3px;
  margin-left: 10px;
  padding: 0;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.ProjectPage .project-light-mode,
.ProjectPage .project-dark-mode {
  font-family: var(--text-paragraph);
  font-size: 12px;
  font-weight: 900;
  letter-spacing: -1px;
  transition: all 300ms ease-in-out;
}

.ProjectPage .project-light-mode:hover,
.ProjectPage .project-dark-mode:hover {
  color: var(--transparent);
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .ProjectPage .project-page {
    justify-content: left;
    margin-left: 40px;
  }
}

@media (max-width: 400px) {
  .ProjectPage .project-page {
    margin-left: 20px;
  }

  .ProjectPage .project-page button {
    font-size: 45px;
    letter-spacing: -2px;
  }
}
