.Navbar nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
}

.Navbar .brand {
  font-family: var(--text-headline);
  font-size: 60px;
  letter-spacing: -5px;
  position: relative;
  top: 8px;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}

.Navbar .brand .letter {
  display: inline-block;
  transform: rotate(-20deg);
}

.Navbar .brand .stop {
  font-size: 50px;
  position: relative;
  top: -9px;
  left: -12px;
}

.Navbar .brand:hover {
  color: var(--transparent);
  cursor: pointer;
  transform: scale(1.1);
}

.Navbar .btn-container {
  align-items: center;
  display: flex;
}

.Navbar .theme-btn-light {
  background: var(--transparent);
  border: none;
  color: var(--dark-color);
  font-size: 25px;
  margin-right: 15px;
  transition: all 300ms ease-in-out;
}

.Navbar .theme-btn-dark {
  background: var(--transparent);
  border: none;
  color: var(--light-color);
  font-size: 25px;
  margin-right: 15px;
  transition: all 300ms ease-in-out;
}

.Navbar .menu-btn-light {
  color: var(--dark-color);
  font-size: 37px;
  transition: all 300ms ease-in-out;
}

.Navbar .menu-btn-dark {
  color: var(--light-color);
  font-size: 37px;
  transition: all 300ms ease-in-out;
}

.Navbar .menu-btn-close {
  color: var(--dark-color);
  font-size: 40px;
  margin: 0 7px 0 4.75px;
  transition: all 750ms ease-in-out;
}

.Navbar .menu-btn-close i {
  transition: all 300ms ease-in-out;
}

.Navbar .theme-btn:hover,
.Navbar .menu-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.Navbar .menu-btn-close:hover {
  cursor: pointer;
  transform: rotateZ(360deg);
}

@media (max-width: 800px) {
  .Navbar nav {
    margin: 20px 40px;
  }
}

@media (max-width: 400px) {
  .Navbar nav {
    margin: 10px 20px;
  }
}
